.memories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  gap: 1.5rem;
  justify-items: center;
  min-height: 100vh;
}

@media (max-width: 750px) {
  .memories {
    grid-template-columns: repeat(1, 1fr);
  }
}
