@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
  color: white;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-bg: #0f1626;
  /* --form-bg: #131e36; */
  --form-bg: #1d2e52;
  --leather: #ab987a;
  --coral: #ff5330;
  --eggshell: #f5f5f5;
}

.addPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.homePageHeading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.homePageHeading h1 {
  font-size: 3vw;
}
