@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
}

:root {
  --primary-bg: #0f1626;
  --leather: #ab987a;
  --coral: #ff5330;
  --eggshell: #f5f5f5;
}
